@import url('https://fonts.googleapis.com/css?family=Roboto|Rokkitt');
body{
	font-family: 'Rokkitt', serif;
}
p,button{
	font-family: 'Roboto', sans-serif;

}
button{
	background-color: #F9A91A;
	border:#F9A91A;
	padding: 7px 14px;

}
.bg-gray{
	background-color:gray;
	height: 415px;
}
.text-white{
	color:#fff;
}
#mySelect{
	background: rgba(0, 0, 0, 0.3);
	padding: 7px 14px;
}
hr{
	border-top:5px solid #000;
	width: 50px;
	float: left;

}
